        .container {
            margin-top: .8rem;
            padding: .8rem;
            display: flex;
            justify-content: center;
            flex-direction: column;

            border-bottom: 1px solid var(--muted);
            min-height: 100vh;
        }

        .container main {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .containerHeader {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-family: var(--font-jetbrains-mono);
        }

        .containerHeader .num {
            color: var(--accent);
        }

        .containerHeader h4 {
            font-size: 2.5rem;
            font-weight: 900;
            color: #fff;
        }

        .containerHeader h4::after {
            content: " ";
            flex: 1;
            border-bottom: 1px solid var(--muted-foreground);
        }

        .containerHeader h4 span {
            color: var(--accent);
            text-shadow: 0px 0px 16px var(--primary);
        }

        .projects {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .projects aside span {
            color: var(--accent);
            text-shadow: 0px 0px 10px var(--accent);
        }

        .projects aside {
            font-family: var(--font-jetbrains-mono);
            color: var(--muted-foreground);
        }

        .cardProject {
            background-color: var(--muted);
            border-radius: 16px;
            box-shadow: 0px 0px 0px var(--accent);
            padding: 1.2rem;
            display: flex;
            flex-direction: column;
            gap: .6rem;
            font-family: var(--font-space-grotesk);
            box-shadow: 0px 0px 15px var(--card-foreground);

            transition: 0.3s;
        }

        .cardProject header {
            display: flex;
            justify-content: space-between;
        }

        .cardProject header h3 {
            font-size: 1.5rem;
            font-weight: 900;
            color: var(--primary);

        }

        .cardProject p {
            color: var(--muted-foreground);
            font-size: 1rem;
            transition: 0.5s;
            max-width: 500px;
            text-align: justify;
        }

        .techs {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            flex-wrap: wrap;
        }

        .tech {
            background-color: var(--card-foreground);
            backdrop-filter: blur(10px);
            padding: .5rem;
            border-radius: 16px;
            font-size: .8rem;
            cursor: pointer;
            transition: 0.3s ease;
            color: var(--primary);
        }

        .tech:hover {
            transform: scale(1.02);
        }

        .cardProject:hover {
            transform: scale(1.02);
        }

        .links {
            display: flex;
            gap: .6rem;
        }

        .links a {
            transition: 0.3s ease-in-out;
            cursor: pointer;
            color: var(--muted-foreground);
        }

        .links a:hover {
            color: var(--accent);
        }

        .links a:active {
            transform: scale(1.2);
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            max-width: 900px;
            width: 100%;

            margin: auto;
        }

        @media (max-width: 630px) {
            .techs {
                justify-content: flex-start;
            }
        }

        @media (max-width: 480px) {

            .containerHeader h4 {
                font-size: 2rem;
            }

            .cardProject header h3 {
                font-size: 1rem;
            }

            .cardProject p {
                font-size: .8rem;
            }
        }