@import "./assets/components/css/variables.css";
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--background);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 20px;
}
.no-animation *,
.no-animation *::before,
.no-animation *::after {
  animation: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  backdrop-filter: none !important;
}
